@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700'; // @font-face {
// 	font-family: 'Font-Name';
// 	src: url('../fonts/font-name.eot');
// 	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'), url('../fonts/font-name.woff') format('woff'), url('../fonts/font-name.ttf') format('truetype'), url('../fonts/font-name.svg#font-name') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

,
h1,
h2,
h3 {
	font-family: 'Droid Serif', serif;
	font-weight: normal;
}

a {
	color: $orange-buttons;
	transition: all 1ms;
	text-decoration: none;
}

a:hover {
	color: $orange-buttons-dark !important;
	transition: all 1ms;
}