$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$blue-zodiac: #0c2745;
$tree-poppy: #f79714;
$natural-gray: #938f8b;
$emperor: #515151;
$dove-gray: #646464;
$black-pearl: #091f37;
$bombay: #acacaf;
