$footer: #0c2745; //dark-blue
$orange-buttons: #f79714; //orange
$font-color: #938f8b; //gray
$header-bg: #515151; //dark-gray
$footer-nav: #091f37; //darker-blue
$bg-gradient1: #1b2835; //dark-blue
$bg-gradient2: #0e3767; //light-blue
$testimonials-bg: #f5f5f5; //light-gray
$aside-nav: #ee8410; //dark-orange
