header {
	@include outer-container;
}

.logo {
	// @include span-columns(1 of 12);
	position: absolute;
}

.top-bar {
	@include span-columns(12);
	// $mobile: new-breakpoint(max-width 500px 4);
	background-color: $header-bg;

	.mini-bar {
		@include span-columns(12);
		background-color: $footer;
		padding-left: 65px;
		padding-top: 10px;
	}

	.top-mini-nav {
		@include span-columns(5 of 12);

		li {
			color: #fff;

			a {
				text-decoration: none;
				color: #fff;
				padding: 10px;
			}
		}
	}

	.facebook {
		@include span-columns(1 of 12);

		button {
			width: 100%;
		}
	}

	.search {
		@include span-columns(2 of 12);

		input {
			width: 100%;
			border-radius: 10px;
			border: none;
			padding: 2px;
		}

		.fa-search {}
	}

	.donate {
		@include span-columns(4 of 12);
		@include omega();
	}
}

nav ul li {
	display: inline-block;
	text-decoration: none;
}

.top-nav {
	@include span-columns(12);
	// @include fill-parent();
	// @include row(table);
	background-color: $header-bg;

	ul {
		background-color: #fff;
		padding: 7px 7px 7px 100px;
	}

	li a {
		text-decoration: none;
		color: $font-color;
		padding: 27px;
	}
}