header {
	@include outer-container;
}

.logo {
	// @include span-columns(1 of 12);
	position: absolute;
}

.top-bar {
	@include span-columns(12);
	// $mobile: new-breakpoint(max-width 500px 4);
	background-color: $header-bg;
}

.mini-bar {
	@include span-columns(12);
	background-color: $footer;
	padding-left: 65px;
	padding-top: 10px;
}

.top-mini-nav {
	@include span-columns(4 of 12);
	font-size: 0.6em;

	li {
		color: #fff;

		a {
			text-decoration: none;
			color: #fff;
			padding: 10px;
		}
	}
}

.facebook {
	@include span-columns(2 of 12);

	button {
		text-align: right;
		padding-right: 15px;
		border-radius: 5px;
		color: #fff;
		width: 100%;
		line-height: 26px;
		border: none;
		@include linear-gradient(#222c39,#446aa8);
	}
}

.search {
	@include span-columns(2 of 12);

	input {
		width: 100%;
		border-radius: 10px;
		border: none;
		padding: 2px;
		line-height: 26px;
	}

	.fa-search {}
}

.donate {
	@include span-columns(4 of 12);
	@include omega();
	line-height: 26px;
}

nav ul li {
	display: inline-block;
	text-decoration: none;
}

.top-nav {
	@include span-columns(12);
	// @include fill-parent();
	// @include row(table);
	background-color: $header-bg;
	text-transform: uppercase;

	ul {
		background-color: #fff;
		padding: 7px 7px 7px 100px;
	}

	li a {
		text-decoration: none;
		color: $font-color;
		margin: 21px;
	}
}