.header-image {
	position: relative;
	background: url("../img/services/1132.jpg");
	padding: 100px 0;
	background-position: center;

	h2 {
		position: absolute;
		right: 10px;
		top: 0;
		color: #fff;
	}
}

article {
	@include span-columns(8);
}

aside {
	@include span-columns(4);
}

#services {
	.main {
		padding-left: 30px;
		@include background-image(linear-gradient(#eceaea, #fff 16%));
		margin-right: -2.35765%;

		> h1 {
			// @include span-columns(2);
			display: inline-block;
			width: 20%;
		}

		.link-crumbs {
			display: inline-block;
			text-align: right;
			width: 79%;
			// @include span-columns(10);
			// @include omega();
		}
	}
}

.sidebar {
	padding-left: 10px;

	ul ul {
		border-bottom: 1px solid #cecccc;
	}

	ul {
		color: $bg-gradient1;
		-webkit-padding-start: 0;
		// display: block;
		padding: 5px;

		> li {
			display: block;
			padding: 5px;
		}
	}

	.first-level {
		border-bottom: 1px solid #cecccc;
	}

	.current {
		color: $orange-buttons;
		position: relative;

		&::before {
			content: url("../img/style-arrow.png");
			position: absolute;
			left: 15px;
			top: 2px;
		}
	}

	.second-level {
		padding: 0 0 0 30px;
	}

	.donate {
		button {
			width: 100%;
		}
	}
}

.snippet {
	background: #f3f2f2;
	padding: 20px;

	img,
	p {
		// float: left;
		display: inline-block;
		width: 48%;
	}

	p {
		margin-left: 2%;
	}
}

#services {
	article h1 {
		font-size: 1.25em;
		font-weight: normal;
		color: $orange-buttons;
	}

	.news-feed {
		h2 {
			font-family: 'droid sans';
			color: $header-blue;
			border-bottom: 1px solid #cecccc;
			margin-bottom: 10px;
		}

		h4 {
			font-size: 0.8em;
			font-weight: normal;
			margin: 0;
		}

		.date {
			color: $orange-buttons;
			font-size: 0.75em;
			margin: 0;
		}

		.byline {
			color: #c2c1c0;
		}
	}
}