.header-image {
	position: relative;
	background: url("../img/services/1132.jpg");
	padding: 100px 0;
	background-position: center;

	h2 {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #fff;
	}
}

article {
	@include span-columns(8);
}

aside {
	@include span-columns(4);
}

#services {
	.main {
		padding-left: 30px;

		h1 {
			// @include span-columns(2);
		}

		.link-crumbs {
			// @include span-columns(10);
			// @include omega();
		}
	}
}