.header-image {
	position: relative;
	background: url("../img/services/1132.jpg");
	padding: 100px 0;
	background-position: center;

	h2 {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #fff;
	}
}