.sidebar {
	padding-left: 10px;

	ul ul {
		border-bottom: 1px solid #cecccc;
	}

	ul {
		color: $bg-gradient1;
		-webkit-padding-start: 0;
		// display: block;
		padding: 5px;

		> li {
			display: block;
			padding: 5px;
		}
	}

	.first-level {
		border-bottom: 1px solid #cecccc;
	}

	.current {
		color: $orange-buttons;
		position: relative;

		&::before {
			content: url("../img/style-arrow.png");
			position: absolute;
			left: 15px;
			top: 2px;
		}
	}

	.second-level {
		padding: 0 0 0 30px;
	}

	.donate {
		width: 100%;

		button {
			width: 100%;
		}
	}
}

.snippet {
	background: #f3f2f2;
	padding: 20px;

	img,
	p {
		// float: left;
		display: inline-block;
		width: 48%;
	}

	p {
		margin-left: 2%;
	}
}